In [1]:
# import libraries

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#stats library

import statsmodels.api as sm
import scipy

#T-test is imported to complete the statistical analysis

from scipy.stats import ttest_ind

from scipy import stats

#The function below is used to show the plots within the notebook

%matplotlib inline

In [2]:
#load data into notebook

data=pd.read_csv('Testdata.dat', delimiter=' ')

In [3]:
#print only the head of the data
data.head()

,date,plate,time,strain,frame,ID,persistance,area,speed,angularspeed,...,bias,pathlen,curve,dir,loc_x,loc_y,vel_x,vel_y,orient,crab
0,20120731,20120731_120745,15.039,N2,0,1,234.9,0.102789,NaN,NaN,...,1,0.000,21.0,0,13.3322,36.2338,NaN,NaN,34.2,NaN
1,20120731,20120731_120745,15.080,N2,1,1,234.9,0.101331,NaN,NaN,...,1,0.002,19.5,0,13.3333,36.2354,NaN,NaN,34.3,NaN
2,20120731,20120731_120745,15.125,N2,2,1,234.9,0.099873,NaN,NaN,...,1,0.007,20.0,0,13.3378,36.2375,NaN,NaN,34.3,NaN
3,20120731,20120731_120745,15.160,N2,3,1,234.9,0.100602,NaN,NaN,...,1,0.008,22.3,0,13.3386,36.2387,NaN,NaN,34.3,NaN
4,20120731,20120731_120745,15.198,N2,4,1,234.9,0.102060,NaN,NaN,...,1,0.011,23.7,0,13.3411,36.2405,NaN,NaN,34.3,NaN

In [4]:
# Here we extract only two columns from the data as these are the main variables for the statistcal analysis

strain_df=data[['strain','speed']]

In [5]:
#Print the head of this data

strain_df.head()

  strain  speed
0     N2    NaN
1     N2    NaN
2     N2    NaN
3     N2    NaN
4     N2    NaN

In [6]:
# Eliminate NaN from the dataset 

strain_df=strain_df.dropna()

In [7]:
#Print the head of this dataset 
strain_df.head()

   strain   speed
7      N2  0.0698
8      N2  0.0668
9      N2  0.0720
10     N2  0.0783
11     N2  0.0793

In [8]:
#Group the data so that we can extract only MX1027 from the dataset

MX1027=strain_df.groupby('strain').get_group('MX1027')

In [9]:
#Print the head of this dataset

MX1027.head()

       strain   speed
9999   MX1027  0.0665
10000  MX1027  0.0621
10001  MX1027  0.0614
10002  MX1027  0.0577
10003  MX1027  0.0545

In [10]:
#Group the data to only extract N2 values from the dataset
N2=strain_df.groupby('strain').get_group('N2')

In [11]:
#Print the head of this dataset
N2.head()

   strain   speed
7      N2  0.0698
8      N2  0.0668
9      N2  0.0720
10     N2  0.0783
11     N2  0.0793

In [266]:
##The mean is calculated to check the values in the test function

MX1027.mean()

speed    0.127953
dtype: float64

In [267]:
#The mean is  calculated to check the values in the test function

N2.mean()

speed    0.084662
dtype: float64

In [260]:
#Function created to calculate the mean of the data

def mean(strain_df, speed):
    '''The input of the function is the raw values of the strain's speed. This function calculates the
    the mean of the speed using the sample size and the sum of the speed. The output of the 
    function is the mean of the speed for the strain.'''
    n= len(strain_df)
    mean =(sum(strain_df.speed))/n
    return mean

In [264]:
#Create test functions of the mean of N2

def test_mean1():
    """This function calls the mean function and compares it a known mean, this mean is 
    labelled exp. The mean in focus for this function is for the N2 strain."""
    obs = mean(N2, N2.speed)
    exp = float(0.0846619255469)
    print (obs)
    assert obs == exp, ' The mean of N2 should be 0.0846619255469'
    
#Create test function for the mean of MX1027

def test_mean2():
    """This function calls the mean function and compares it a known mean, this mean is 
    labelled exp. The mean in focus for this function is for the MX1027 strain."""
    obs =  mean(MX1027, MX1027.speed)
    exp = float(0.127953)
    print (obs)
    assert obs == exp, ' The mean of MX1027 should be 0.127953'

In [263]:
# Here we test the first and the second mean
test_mean1()
test_mean2()

0.0846619255469

AssertionError:  The mean of N2 should be 0.0846619255469

### Importance of the test Function

This function is useful for the research, as the mean can be used as basic statistics that clear shows the difference between the strains. Additionally, this mean is necessary as it is needed to calculate the t-test for the strains.